/*
 * Components
 * @author mfyance
 */

layout,
menu,
article,
aside,
footer,
header,
nav,
section {
    display: block;
}
html,body{
    height: inherit;
    width: 100%;
    background: #fff;   
}
html {
    width: 100%;
    font-size: 62.5%;
}
body{
    font-family: var(--font-primary);
    color: var(--color-primary);
    background: #fff;
    overflow: hidden;
    -webkit-transition: background .3s ease-in-out;
    -o-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}
p{
    font-family: var(--font-primary);
    color: var(--color-grey);
}

hr {
    margin-top: 3rem;
    margin-bottom: 3.5rem;
    border-width: 0;
    border-top: 1px solid #E1E1E1; 
}

[layout-max] {max-width: var(--layout-max);margin: 0 auto;display: flex;justify-content: center;}