/*
 * Home
 * @author mfyance
 */

@charset "utf-8";

@font-face{
    font-family: principal;
    src:url(../../fonts/brown-bold.ttf);
}

body{
    font-family: principal;
}

#capitulo_1, #capitulo_3,  #capitulo_4, #capitulo_5, #capitulo_6, #capitulo_7 { 
    display: block; height: 115px; margin-top: -115px; visibility: hidden; 
}

section{
    width: 100%;
    position: relative;
}

header .logo{
    margin:5px 30px 0 30px;
}

header .logo img{
    width: 20%;
}

header .dosMilVeinte{
    width:50%;
    margin: 0 auto;
}

header .dosMilVeinte h1{
    text-align: center;
    font-size: 55px;
    font-weight: 700;
    color:#582D4E;
}


header .dosMilVeinte .vectores_de_anclaje {
    margin:10px 20px;
    position: relative;
    left: 2%;
    display: flex;
    flex-wrap: nowrap;
}

header .dosMilVeinte .vectores_de_anclaje > a  div{
    position: relative;
    display: inline-block;
    margin-left:1px;
}

header .dosMilVeinte .vectores_de_anclaje a div img{
    width: 90%;
    z-index: 1;
}

header .dosMilVeinte .vectores_de_anclaje a div img.efecto_vector_negro{
    width: 47%;
    position: absolute;
    z-index: 10;
    right: 10%;
}

header .dosMilVeinte .vectores_de_anclaje a div img.efecto_vector_amarillo{
    width: 47%;
    position: absolute;
    z-index: 10;
    right: 10%;
}

header .dosMilVeinte .vectores_de_anclaje a div span {
    z-index: 20;
    position: absolute;
    right: 46%;
    top: 17%;
    color:#FFF;
    font-size: 2vw;
    font-weight: 800;
}


/*PRIMERA SECCIÓN CAPITULO1*/

main section.capitulo_1{
    display: flex;
}

main section.capitulo_1 .entrada_interbank{
    width: 50%;
    padding: 60px 0 20px 60px;
}

main section.capitulo_1 .entrada_interbank button img{
    width: 10.1%;
    margin-left: 15px;

}

main section.capitulo_1 .entrada_interbank h2{
    color: #582D4E;
    padding-left: 80px;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

main section.capitulo_1 .entrada_interbank p{
    color: #582D4E;
    font-size: 21px;
    width: 102%;
    margin-top: 15px;
    padding-left: 80px;
}

main .entrada_interbank div img.vector_purple{
    width: 100%;
}

main .entrada_interbank div img.efecto_vector_negro{
    width: 28%;
    position: absolute;
    z-index: 5;
    right: 19%;
    top: 20%;
    max-width: 35px;
    min-width: 16px;
}

main .entrada_interbank button.mira_historia{
    border:none;
    padding: 5px 25px;
    margin-left: 82px;
    background: #582D4E;
    color: #FFF;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 18px;
}

.mira_historia{
    border:none;
    padding: 5px 25px;
    margin-left: 40px;
    background: #582D4E;
    color: #FFF;
    font-size: 15px;
    border-radius: 30px;
    margin-top: 18px;
}



main section.capitulo_1 .img_destacada{
     width: 50%;
     padding-right:0px;
     position:relative;
}

main section.capitulo_1 .img_destacada .img_fondo{
    z-index: 10;
    padding-bottom: 24px;
    width: 84%;
    position: relative;
    left: 9%;
}

main section.capitulo_1 .img_destacada .img_principal{
    z-index: 20;
    position:absolute;
    width: 75%;
    top: 28%;
    right: 12%;
}

/*SECTION 1b CAROUSEL*/

div.carousel{
    width: 86%;
    height: auto;
    overflow: hidden;
    scroll-behavior: smooth;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.carousel_contenido{
    width: 25%;
    padding: 10px;
    min-width: 300px;
}

.carousel_contenido img{
   width:100%;
   padding: 10px;
   min-width: 300px;
}

.contenedor_principal_carousel{
    display: flex;
    align-items: center;
}

.contenedor_principal_carousel .flecha_izquierda,
.contenedor_principal_carousel .flecha_derecha{
    position: absolute;
    border: none;
    height: 50px;
    top: 50%;
    width: 50px;
    z-index: 500;
    transition: .2ms ease all;
}

.contenedor_principal_carousel .flecha_izquierda {
    left:5px;
    background: none;
}

.contenedor_principal_carousel .flecha_derecha {
    right:5px;
    background: none;
}

main section.capitulo_1b{
    width: 100%;
    height: auto;
    margin:0 auto;
    position: relative;
    left: 0%;
    top:-25px;
    padding-bottom:15px;
}

main section.capitulo_1b h3{
    color: #9D6F93;
    margin-left:100px;
    display: block;
    margin-bottom: 20px;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
}

main section.capitulo_1b h4{
    font-size: 24px;
    text-align: left;
    margin-left: 15px;
    color: #582D4E;
    font-weight: bold;
}

main section.capitulo_1b p{
    font-size: 20px;
    color: #582D4E;
    text-align: left;
    margin-left: 15px;
}


.flecha_elegir, .flecha_elegir_2{
    width: 1.1%;
    position: absolute;
    top: 30.4%;
}

.flecha_elegir{
    left: 18%;
    width: 24%;
}

.flecha_elegir_2{
    right: 34.2%;
    width: 24%;
 }


.circulo_elegir, .circulo_elegir_2{
    position: absolute;
    top: 9%;
    width: 80%;
}

.circulo_elegir{
    left: -4%;
}

.circulo_elegir_2{
    right: 10%;
}

/*--------------------*/
    

/*SECTION CAPITULO 2*/

section.capitulo_2{
    display: flex;
    margin-top: 8px;
}

.big_vector{
    width: 50%;
    margin: 10px 30px;
}

.paseo_en_kawai{
    width: 50%;
    position: relative;
}

.paseo_en_kawai h2{
    margin-top: 130px;
    color: #582D4E;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px
}

.paseo_en_kawai p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#582D4E;
    margin-right: 25px;
    margin-left: 40px
}

.efecto_vector_amarillo{
    display: none;
}

.flecha_blanca{
    width: 10.1%;
    margin-left: 15px
}

/*----------------------*/

/*SECTION CAPITULO 3*/
section.capitulo_3{
    position: relative;
    display: flex;
    margin-top: 45px;
}

.mi_dream{
    width: 50%;
    margin-top: 2%;
}

.mi_dream h2{
    color: #582D4E;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 107px;
}

.mi_dream p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#582D4E;
    margin-left: 107px;
}

.mi_dream button{
    margin-left:130px;
}

.big_vector{
    position: relative;
    width: 50%;
    margin: 10px 30px;
}

section.capitulo_3 .big_vector img{
   position: relative;
   bottom:28%;
}

/*---------------------------*/

/*SECTION CAPITULO 4*/

section.capitulo_4{
    position: relative;
    display: flex;
}

section.capitulo_4 .big_vector{
    width: 50%;
    position: relative
}

.remodelacion_hogar{
    width: 50%;
    position: relative;
}

.remodelacion_hogar h2{
    color: #582D4E;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-right: 25px;
    margin-left: 40px;
}

.remodelacion_hogar p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#582D4E;
    margin-right: 25px;
    margin-left: 40px;
}

section.capitulo_4 .big_vector img {
    position: relative;
    bottom: 28%;
}

/*-------------------------*/

/*SECTION CAPITULO 5*/

section.capitulo_5{
    position: relative;
    display: flex;
}

.darleforma_beez{
    position: relative;
    width:50%;
}

.darleforma_beez h2{
    color: #582D4E;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: 45px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 130px
}

.darleforma_beez p{
    font-size: 20px;
    font-style: normal;
    font-weight: 300;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color:#582D4E;
    margin-left:130px;
}

.darleforma_beez button{
    margin-left:130px;
}

section.capitulo_5 .big_vector{
    position: relative;
    width:50%;
}

section.capitulo_5 .big_vector img{
    position: relative;
    bottom:28%;
 }

 /*-----------------------------*/

 /*SECTION CAPITULO 6*/

 section.capitulo_6{
    position: relative;
    display: flex;
 }

 section.capitulo_6 .big_vector img{
    position: relative;
    bottom:28%;
 }

 /*--------------------------*/

 /*SECTION CAPITULO 7*/
  section.capitulo_7{
      position: relative;
      display: flex;
  }

  section.capitulo_7 .big_vector img{
    position: relative;
    bottom:28%;
 }

/*-----------------*/

/*----FOOTER------*/

footer div.ayuda{
    width: 18%;
    background: #582D4E;
    box-shadow: 0px 9px 44px 0px #582D4E 19%;
    border-radius: 100px 0px 0px 100px;
    color:#FFF;
    padding: 0px 20px;
    float: right;
    display: flex;
    padding:17px;
}

footer div.ayuda img{
    width: 22%;
    display: inline-block;
    margin-right: 10px;
}

footer div.ayuda div span{
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: left;
}

footer .copyright{
    clear:both;
    text-align: center;
    padding:60px 0 60px 0;
    font-size: 19px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0em;
    color: #582D4E;
}


/*RESPONSIVE DESIGN*/

@media (max-width:420px){

}

@media (min-width: 600px){

}

@media (max-width: 800px){

    header .dosMilVeinte h1 {
        font-size: 5vw;
    }
    
    header .dosMilVeinte .vectores_de_anclaje a div img {
        width: 94%;
        z-index: 1;
        padding: 2%;
    }
   
 /*DETALLES SECTION capitulo 1*/

   

    main section.capitulo_1 .entrada_interbank {
        width: 50%;
        padding: 0px 0 2px 70px;
    }

    .contenedor_vector_1{
        top:24%;
        right:26.2%;
    }

    main section.capitulo_1 .entrada_interbank h2{
        padding-left: 2px;
        font-size: 4vw;
        display: inline-block;
    }

    main section.capitulo_1 .entrada_interbank p {
        padding-left: 1px;
        font-size:2.5vw;
        clear: both;
        margin-top: 0px;
    }

    main .entrada_interbank button.mira_historia {
        font-size: 1.9vw;
        margin-left: 0px;
    }

  /*-------------------------------------------*/ 
  
  /*DETALLES SECTION 1b*/

  main section.capitulo_1b h3 {
    margin-left: 54px;
    margin-top: 25px;
    margin-bottom: 12px;
    font-size: 4vw;
}

  .carousel_contenido img {
    width: 100%;
   }

   .carousel_contenido{
       width:50%;
       height: 50%;
       /*margin-left: 10px;*/
       margin-left: 93px;
       position: relative;
       left:50%;
   }

  /*-------------------------------------------*/ 

  /*DETALLES SECTION capitulo 2*/
     
    .paseo_en_kawai{
        width: 60%;
    }

    .contenedor_vector_2{
        top: 23%;
        left: -8%;
    }

    .paseo_en_kawai h2 {
        font-size: 4.7vw;
        margin-top: 0;
    }

    .paseo_en_kawai p {
        font-size: 2.5vw;
        line-height: normal;
    }

    .big_vector{
        width: 45%;
    }

  /*-------------------------------------------*/

  /*DETALLES SECTION capitulo 3*/
  
  section.capitulo_3{
      margin-top: 0;
  }

    section.capitulo_3 .big_vector img {
        position: relative;
        bottom: -16%;
    }

    .mi_dream {
        width:62%;
    }

    .contenedor_vector_3{
        top: 23%;
        left: -2%
    }

    .mi_dream h2 {
        color: #582D4E;
        font-size: 4.7vw;
        line-height: 45px;
        margin-left: 62px;
        line-height: 38px;
    }

    .mi_dream p{
        font-size: 2.5vw;
        line-height: normal;
        margin-left: 62px;
    }
  
  /*-------------------------------------------*/

     /*SECTION capitulo 4*/

     .remodelacion_hogar {
        width: 60%;
        position: relative;
    }

     .contenedor_vector_4{
        top: 20.5%;
        left: -9%
    }

    section.capitulo_4 .big_vector img {
        position: relative;
        bottom: -15%;
    }

    .remodelacion_hogar h2{
        font-size: 4.7vw;
        line-height: normal;
    }

    .remodelacion_hogar p{
        font-size: 2.2vw;
        line-height: normal;
    }


  /*--------------------------- */

  /*SECTION capitulo 5*/

  .darleforma_beez{
    width: 60%;
  }

  .contenedor_vector_5{
    top: 24%;
    left: 1%;
  }

  .darleforma_beez h2 {
    font-size: 4.7vw;
    line-height: 45px;
    margin-left: 73px;
  }

  .darleforma_beez p {
    font-size: 2.5vw;
    line-height: normal;
    margin-left: 73px;
  }

  .darleforma_beez button {
    margin-left: 73px;
  }

  section.capitulo_5 .big_vector img {
    bottom: -14%;
  }

  /*--------------------------- */

  /*SECTION capitulo 6*/

  section.capitulo_6 .big_vector img {
    bottom: -14%;
  }

  .contenedor_vector_6{
    top: 22%;
    left: -9%;
  }

  /*--------------------------- */

  /*SECTION capitulo 7*/

  .contenedor_vector_7{
    top: 25%;
    left: 2%;
  }

  section.capitulo_7 .big_vector img{
      position: absolute;
      bottom: 1%;
  }


  /*--------------------------*/

  /*footer-------------------*/

  footer div.ayuda {
    width: 22%;
    display: flex;
    padding: 11px 36px 12px 16px;
  }

  footer div.ayuda img{
    margin-right: 8px;
    width: 48%;
  }

  footer div.ayuda span{
    font-size: 2.2vw !important;
  }


  /*CLASES GENERALES RESPONSIVE*/

  .contenedor_vector span{
      font-size: 20px !important;
  }

  .mira_historia {
      font-size: 1.9vw !important;
      margin-left: 73px !important;
  }

  main section div + h2{
    padding-bottom: 15px !important;
  }

}

@media (min-width: 1200px){
   
    /*---SECTION--- 1*/

    header .dosMilVeinte .vectores_de_anclaje a div img {
        width: 100%;
    }

    main section.capitulo_1 .entrada_interbank{
        padding: 0;
    }

    .vectores_de_anclaje {
        display: flex;
        justify-content: center;
    }

    .vectores_de_anclaje a div{
        margin-left: 12px !important;
    }

    .contenedor_vector_1{
        top: 28%;
        left: -1.9%;
    }

    /*----------------*/

    /*---SECTION--- 2*/

    .paseo_en_kawai{
        margin-top: 58px;
    }

    .paseo_en_kawai h2 {
        margin-top: 20px;
    }

    .contenedor_vector_2{
        top: 17%;
        left: -9%;
    }

    .capitulo_2 .big_vector{
        top: 26%;
        left: -2%;
    }

    /*----------------*/

    /*---SECTION--- 3*/

    .mi_dream {
        width: 50%;
        margin-top: -77px;
    }

    .contenedor_vector_3{
        top: 14.5%;
        left: 3%;
    }

    .mi_dream button {
        margin-left: 110px !important;
    }

    /*----------------*/

    /*---SECTION--- 4*/

    .remodelacion_hogar {
        width: 50%;
        position: relative;
        margin-top: -100px;
    }

    .contenedor_vector_4{
        top: 13%;
        left: -8%;
    }

    /*----------------*/

    /*---SECTION--- 5*/

    .darleforma_beez {
        position: relative;
        width: 50%;
        margin-top: -100px;
    }

    .darleforma_beez p{
        font-size: 2.2vw;
    }

    .contenedor_vector_5{
        top: 13%;
        left: 7%;
    }

    /*----------------*/

    /*---SECTION--- 6*/

    .contenedor_vector_6{
        top: 13%;
        left: -9%;
    }

    /*----------------*/

    /*---SECTION--- 7*/

    .contenedor_vector_7{
        top: 13%;
        left: 7%;
    }

    /*----------------*/

    /*footer----------*/

    footer div.ayuda {
        width: 14.4%;
        padding: 20px 2px 18px 13px;
        margin-top: -161px;
    }

    footer .copyright {
        padding: 0px 0 60px 0;
        font-size: 1.8vw;
    }

    footer div.ayuda img{
        width: 30%;
    }

    /*----------------------------*/


   /*ESTILOS GENERALES RESPONSIVE*/

   div.contenedor_vector{
       width: 14% !important;
       max-width: 130px !important;
   }

   .big_vector{
    width:50%;
    position: static;
   }

   .big_vector img{
       width:100%;
   }

   .par{
       width:50%;
   }

   main section div + h2{
    padding-bottom: 15px !important;
  }

  section div.padding{
      padding: 0px 10px !important;
  }

  section div p{
      font-size: 2.2vw !important;
  }

}

/*---CLASES GENERALES---*/

div.contenedor_vector{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    width:27%;
    max-width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_vector span{
    color: #FFF !important;
    position: absolute !important;
    line-height: 200%;
    font-size:21px;
    top: 17%;
    left: 40%;
    z-index: 30 !important;
}









